@import "../../styles/mixins";
@import "../../styles/variables";

.todolist {
  &__empty {
    padding: 20px;
    font-size: 14px;
    @include flex-settings;

    @include onTablet {
      font-size: inherit;
    }

    &--dark {
      background-color: $color-dark-content;
      color: $color-dark-text;
    }
  }
}
