@import "../../styles/variables";
@import "../../styles/mixins";

.todo {
  position: relative;
  font-size: 24px;
  overflow: hidden;
  line-height: 1.8em;
  border-bottom: 1px solid $color-almost-white;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  justify-items: stretch;
  padding: 16px 18px 24px 8px;
  
  &:last-child {
    border-bottom: 0;
  }

  &__title {
    padding: 2px 0 0 8px;
    word-break: break-all;
  }

  &__status-label {
    cursor: pointer;
    background-image: url('../../assets/undone.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  &.completed &__status-label {
    background-image: url('../../assets/done.svg');
  }

  &.completed &__title {
    color: $color-crossed;
    text-decoration: line-through;
  }

  &.completed &__date {
    color: $color-crossed;
    text-decoration: line-through;
  }

  &__status {
    opacity: 0;
  }

  &__date-box {
    width: 100%;
    position: absolute;
    line-height: 16px;
    font-size: 14px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: $color-main-bg;
    padding: 0 12px;
  }

  &__buttons-box {
    @include flex-settings
  }

  &__remove {
    border: 0;
    background: none;
    cursor: pointer;
    transition: 0.1s linear;

    &:hover {
      transform: scale(115%);
    }
  }

  &__trash {
    @include square-var(32px)
  }
}
