@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  position: relative;

  &__form {
    position: relative;
    @include flex-settings
  }

  &__new-todo {
    width: 100%;
    padding: 20px 60px 20px 56px;
    overflow: hidden;
    font-size: 14px;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    background: rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    border: none;

    &::placeholder {
      font-style: italic;
      font-weight: 300;
      color: $color-almost-white;
    }

    @include onTablet {
      font-size: 24px
    }
  }

  &__plus {
    @include flex-settings;
    height: 26px;
    width: 24px;
    position: absolute;
    right: 16px;
    top: 14px;
    cursor: pointer;

    @include onTablet {
      @include square-var(40px)
    }
  }

  &__error {
    position: absolute;
    right: 8px;
    top: 2px;
    font-size: 18px;
    padding: 0 10px;
    color: $color-main-title;
    animation-duration: .3s;
    animation-name: fadeIn;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
