@import "../../styles/variables";
@import "../../styles/mixins";

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 14px;
  box-sizing: content-box;
  padding: 10px;
  text-align: center;
  border-top: 1px solid $color-almost-white;
  gap: 20px;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  &--dark {
    border-top: 1px solid $color-dark-main-content;
    background-color: $color-dark-main-content;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 8px;

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__completed {
    background-color: $color-white;
    cursor: pointer;
    border: none;
    display: flex;

    &--dark {
      background-color: $color-dark-content;
      color: $color-dark-text;
    }

    &:hover {
      color: $color-main-bg;
    }

    &:disabled {
      opacity: 0;
      cursor: initial;
    }
  }
}
