@import "../../styles/variables";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  box-sizing: content-box;
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid $color-almost-white;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px $color-shadow,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px $color-shadow,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);

  &__completed {
    background-color: $color-white;
    cursor: pointer;
    border: none;
    transition: 0.1s linear;

    &:hover {
      color: $color-main-bg;
    }
  }
}
