@import "../../styles/variables";
@import "../../styles/mixins";

.filter-block {
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include onTablet {
    flex-direction: row;
    gap: 8px;
  }

  &__button {
    background-color: $color-white;
    border: none;
    cursor: pointer;
    border: 2px solid $color-almost-white;

    &--dark {
      border: 2px solid $color-dark-main-content;
      background-color: $color-dark-content;
      color: $color-dark-text;
    }

    &:hover {
      color: $color-main-bg;
    }
  }
}

.selected {
  border: 2px solid $color-main-title;
}
